# https://github.com/github/linguist/blob/master/docs/overrides.md
*.in linguist-language=python
*.yml linguist-language=shell
**/csharp/**/*.ipynb linguist-language=csharp
**/fsharp/**/*.ipynb linguist-language=fsharp
index.ipynb linguist-vendored